<!DOCTYPE html>
<html>
{% block head %}
    <head>

        <meta charset="utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/css/bootstrap-responsive.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/css/bootstrap.css') }}" rel="stylesheet">
    </head>
{% endblock %}
{% block header %}

{% endblock %}

{% block body %}
        <div class="row">
            {% block baner1 %}
                <div class="span3 hidden-phone sidebar">1</div>
            {% endblock %}

            {% block content %}

            {% endblock %}

            {% block baner2 %}
                <div class="span3 hidden-phone sidebar">2</div>
            {% endblock %}
        </div>
{% endblock %}



{% block footer %}

{% endblock %}

</html>
