<!DOCTYPE html>
<html>
{% block head %}
    <head>

        <meta charset="utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="{{ asset('bundles/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/css/foundation.css') }}" rel="stylesheet">
    </head>
{% endblock %}
{% block header %}

{% endblock %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="large-6 columns ">
                <h2 style="color: #c3daf9">Вітаємо вас на нашому сайті</h2>
                <h3 style="text-align: center; color: #ffffff">
                    Тут ви можете знайти роботу або робітника абсолютно безкоштовно
                </h3>
            </div>
            <div class="large-6 columns show-for-large-up"></div>
        </div>
    </div>
    {% block mainbaner %}

    {% endblock %}
    <div class="row">
        {% block baner1 %}
            <div class="large-2 columns show-for-large-up sidebar">1</div>
        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block baner2 %}
            <div class="large-2 columns show-for-large-up sidebar">2</div>
        {% endblock %}
    </div>
    {% block table %}

    {% endblock %}
    <div class="footer">
        <div class="row">
            <div class="large-6 columns show-for-large-up">span5</div>
            <div class="large-6 columns">span5</div>
        </div>
    </div>
{% endblock %}

</html>
