{% extends '@Work/layout.html.twig' %}
{% block body %}
    <div>
        <form action="{{ path('add_worker') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
