{% extends "@Work/layout.html.twig" %}
{% block content %}
    <div class="span8">
        <div>
            <a href="{{ path('find_work') }}">
                Хочеш найти роботу?
            </a>
            <a href=" {{ path('post_work') }}">
                Хочеш залишити вакансію?
            </a>
        </div>
        <div>
            <a href=" {{ path('find_worker') }}">
                Хочеш найти працівника?
            </a>
            <a href="{{ path('post_worker') }}">
                Хочеш залишити своє резюме?
            </a>
        </div>
    </div>
{% endblock %}
