.sidebar {
    height: 100%;
}
.header {
    background: transparent;
    width: 100%;
    top: 0;
    position: relative;
    margin-bottom: 5px;
}
.footer {
    width: 100%;
    background-color: #7ED3F8;
    opacity: 0.7;
    margin-top: 5px;
    position: absolute;
}
.center {
    padding: 20px;
    text-align: center;
}
.btn {
    height: 150px!important;

    font-size: 2.5rem!important;
}
.btn-std {
    opacity: 0.7;
    filter: alpha(Opacity=70);
}
.main {
    /*background: #c3daf9;*/
    background: transparent;
    border: 2px solid #000000;
    border-radius: 4px;
}

.bs-example{
    font-family: sans-serif;
    position: relative;
    margin: 100px;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: -15px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
.panel-light {
    border-style: solid;
    border-width: 2px;
    border-color: #2285a2;
    background: transparent;
    color: #000000;
}
.panel-shadow{
    border-color: transparent;
    border-radius: 5px;
    background-color: #7ED3F8;
    opacity: 0.5;
    padding: 15px;
}
.panel-shadow h4{
    color: white!important;
}
a.button {

    font-family: Helvetica, arial, serif;
    color:#000000;
    text-align:center;
    font-size:30px;
    cursor: pointer;
    text-decoration: none;
    padding:10px;
    border: 1px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: transparent!important;
    box-shadow:
    0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
    inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
    inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
    inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
    inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */

    -webkit-box-shadow:
    0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

    -moz-box-shadow:
    0 2px 8px rgba(0,0,0,0.5),
    inset 0 1px rgba(255,255,255,0.3),
    inset 0 10px rgba(255,255,255,0.2),
    inset 0 10px 20px rgba(255,255,255,0.25),
    inset 0 -15px 30px rgba(0,0,0,0.3);

}

a.button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    color: #000000 !important;
}
.border{
    border: 1px solid #000000;
}